BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
ColumnLimit: 120
ReflowComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: true
IndentGotoLabels: false
PointerAlignment: Left
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
IndentRequiresClause: false
RequiresClausePosition: OwnLine

SortIncludes: CaseSensitive
