CompileFlags:
  #BuiltinHeaders: QueryDriver
  Add: 
    - -Wno-unknown-argument
    - -Wno-unknown-warning-option
    - -xc++
    - -std=c++23

  Remove: 
    - -mthumb-interwork
    - -fanalyzer
    - -fdevirtualize-at-ltrans
