BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: True
ColumnLimit: 120
ReflowComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: True
IndentGotoLabels: False
PointerAlignment: Left
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: True
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
IndentRequiresClause: False
RequiresClausePosition: OwnLine

SortIncludes: CaseSensitive
