.DS_Store
.vscode
/Release*/*
/HardwareDebug*/*
/.settings/*
/Deluge.jlink
/JLinkLog.log
/build*
/e2-build*
/dbt-build*
*.launch
/toolchain/*
compile_commands.json
__pycache__
.sconsign.dblite
/dbt_options.py
/scripts/debug/openocd.log
.cache
/tests/CMakeFiles
/tests/cmake_install.cmake
/tests/CMakeCache.txt
/tests/Makefile
/tests/RunAllTests
/tests/_deps/*
/tests/build
*.a
*.jdebug.user
.idea
# vim
.*.swp
.*.swo
.session.vim

.idea
*.srctrl*

.deluge_hex_key
