body {
    background-color: #111;
    margin: 0px;
}

#headerContainer {
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    
}

#main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 70%;
    max-width: 300px;
    margin: 10px;
    display: inline-block;
    background-color: #efefef;
    border-color: #efefef;
    color: #222 !important;
    text-decoration: none;
    text-align: center !important;
    padding: 9px 27px;
    border-style: solid;
    border-width: 3px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

span,
p,
h1,
a:link,
a:visited,
.btn {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #ededed;
    font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: justify;
}

a {
    text-decoration: underline;
}

h1 {
    padding-top: 42px;
    max-width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.05em;
}

p {
    margin: 10px;
    max-width: 600px;
    -webkit-font-smoothing: antialiased;
}

