@import "tailwindcss";

/* https://tailwindcss.com/docs/dark-mode#using-a-data-attribute */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Shortcut display styling */
span.button-sequence, span.button-chord {
  display: inline-flex;
  width: fit-content;
  height: 100%;
  align-items: center;
  padding: 0.125rem;
  line-height: 24px;
}

span.button-sequence {
  gap: 0.15rem;
}

span.button-chord {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.25rem;
}

span.button-sequence img {
  margin: 0;
  width: 1.35em;
  height: 1.35em;
}
