@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* https://tailwindcss.com/docs/dark-mode#using-a-data-attribute */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* :key[] directive styles */

span.button-sequence {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  word-spacing: -0.7ch;
  letter-spacing: -0.02ch;

  font-size: 0.95em;

  --icon-height: 1.5em;
  line-height: var(--icon-height);
}

/* This is preparation for when the shortcuts become clickable */
/*span.button-sequence:hover {*/
/*  background: linear-gradient(to bottom, transparent 0%,  rgba(200, 200, 200, 0.25) 50%, transparent 100%);*/
/*  border-radius: 1em;*/
/*  cursor: pointer;*/
/*}*/

span.button-chord,
span.action,
span.img-wrapper {
  display: inline-flex;
  align-items: baseline;
  max-width: fit-content;
  min-width: fit-content;
}

span.button-chord {
  word-spacing: -0.4ch;
  display: inline-flex;
  gap: 0.1em;
}

span.action {
  gap: 0.75em;
  background-color: var(--sl-color-bg-inline-code);
  border-radius: 1em;
  padding: 0 0.35em;
  white-space: nowrap;
}

span.button-sequence span.icon-wrapper {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  margin: 0 -0.6em 0 -0.3em;
}

span.button-sequence img {
  display: inline-block;
  height: var(--icon-height);
}

span.pad {
  background-color: var(--sl-color-bg-inline-code);
  border-radius: 0.25em;
  border: 3px solid var(--sl-color-gray-4);
  height: 1.75em; /* This is compensating for the border, but is not a good solution */
  padding: 0 0.15em;
}

/* :screen[] directive styles */

.deluge-screen-oled {
  --border-radius: 5%;
  border-radius: calc(var(--border-radius) * 48 / 128) / var(--border-radius);
}
