name: Build

on:
  workflow_call:
    inputs:
      firmware-retention-days:
        required: true
        type: number
      build-type:
        required: true
        type: string

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: check out repo
        uses: actions/checkout@v3
      - name: Fetch container image
        run: |
          docker pull ghcr.io/litui/dbt-toolchain:v$(cat toolchain/REQUIRED_VERSION)
      - name: Run build
        run: |
          docker run --rm \
            --user=$(id --user):$(id --group) \
            -e DBT_NO_PYTHON_UPGRADE=1 \
            -v $(pwd):/src \
            ghcr.io/litui/dbt-toolchain:v$(cat toolchain/REQUIRED_VERSION) \
            build \
            --verbose \
            --tag-metadata \
            --type ${{ inputs.build-type }} \
            all

      - name: Publish built firmware (7seg-debug) (bin)
        uses: actions/upload-artifact@v3
        with:
          name: debug-7seg.bin
          path: build/Debug/deluge7SEG*.bin
          if-no-files-found: error
          retention-days: ${{ inputs.firmware-retention-days }}
      - name: Publish built firmware (7seg-release) (bin)
        uses: actions/upload-artifact@v3
        with:
          name: release-7seg.bin
          path: build/Release/deluge7SEG*.bin
          if-no-files-found: error
          retention-days: ${{ inputs.firmware-retention-days }}
      - name: Publish built firmware (oled-debug) (bin)
        uses: actions/upload-artifact@v3
        with:
          name: debug-oled.bin
          path: build/Debug/delugeOLED*.bin
          if-no-files-found: error
          retention-days: ${{ inputs.firmware-retention-days }}
      - name: Publish built firmware (oled-release) (bin)
        uses: actions/upload-artifact@v3
        with:
          name: release-oled.bin
          path: build/Release/delugeOLED*.bin
          if-no-files-found: error
          retention-days: ${{ inputs.firmware-retention-days }}

      - name: Publish built firmware (elf)
        uses: actions/upload-artifact@v3
        with:
          name: all-elfs
          path: build/*/*.elf
          if-no-files-found: error
          retention-days: ${{ inputs.firmware-retention-days }}

      - name: Deploy nightly to releases
        if: inputs.build-type == "nightly"
        uses: WebFreak001/deploy-nightly@v2.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # automatically provided by github actions
        with:
          upload_url: https://uploads.github.com/repos/PaulFreund/DelugeFirmware/releases/116465059/assets{?name,label} # find out this value by opening https://api.github.com/repos/<owner>/<repo>/releases in your browser and copy the full "upload_url" value including the {?name,label} part
          release_id: 116465059 # same as above (id can just be taken out the upload_url, it's used to find old releases)
          asset_path: ./release-oled.bin # path to archive to upload
          asset_name: oled-release-nightly-$$.zip # name to upload the release as, use $$ to insert date (YYYYMMDD) and 6 letter commit hash
          asset_content_type: application/x-binary # required by GitHub API
          max_releases: 30 # optional, if there are more releases than this matching the asset_name, the oldest ones are going to be deleted
