name: Build

on:
  push:
    branches:
      - 'community'
      - 'synthstrom-official'
  pull_request:
    branches:
      - 'community'
  merge_group:
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.profile }}-${{ matrix.hardware }}
    strategy:
      matrix:
        profile: [ 'debug', 'release' ]
        hardware: [ 'oled', '7seg' ]
    runs-on: ubuntu-latest
    steps:
      - name: check out repo
        uses: actions/checkout@v3
      - name: Fetch container image
        run: |
          docker pull ghcr.io/litui/dbt-toolchain:v$(cat toolchain/REQUIRED_VERSION)
      - name: Run build
        run: |
          docker run --rm \
            --user=$(id --user):$(id --group) \
            -v $(pwd):/src \
            ghcr.io/litui/dbt-toolchain:v$(cat toolchain/REQUIRED_VERSION) \
            dbt-build-${{ matrix.profile }}-${{ matrix.hardware }}
      - name: Publish built firmware (bin)
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.profile }}-${{ matrix.hardware }}.bin
          path: dbt-build-${{ matrix.profile }}-${{ matrix.hardware }}/Deluge-${{ matrix.profile }}-${{ matrix.hardware }}.bin
          if-no-files-found: error
          retention-days: 5
      - name: Publish built firmware (elf)
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.profile }}-${{ matrix.hardware }}.elf
          path: dbt-build-${{ matrix.profile }}-${{ matrix.hardware }}/Deluge-${{ matrix.profile }}-${{ matrix.hardware }}.elf
          if-no-files-found: error
          retention-days: 5
