name: Clang Tidy
on:
  pull_request:
    branches:
      - "community"
  pull_request_target:  # Required to post comments on PR from forks
jobs:
  clang-tidy-review:
    runs-on: ubuntu-latest
    if: startsWith(github.event_name, 'pull_request')  # Posting a review only makes sense on PRs
    steps:
      # Repo config for pull_request_target
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          submodules: recursive

      # Generate compilation database and make sure to have the source and all third party headers available

      # Checkout the review source for the python package
      - name: Checkout clang-tidy-review
        uses: actions/checkout@v4
        with:
          repository: ZedThree/clang-tidy-review
          ref: master
          path: clang-tidy-review

      - name: Install LLVM and Clang
        run: |
          sudo apt-get update
          sudo apt-get install -y llvm-19 clang-19 clang-tidy-19
          sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-19 100
          sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-19 100
          sudo update-alternatives --install /usr/bin/clang-tidy clang-tidy /usr/bin/clang-tidy-19 100
      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Generate compilation database
        run: |
          cd ${{ github.workspace }}
          ./dbt || DELUGE_FW_ROOT=${{ github.workspace }} cmake . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
          sed -i 's/-mthumb-interwork//g' build/compile_commands.json

      - name: Run clang-tidy
        run: |
          clang-tidy --version
          pip install ${{github.workspace}}/clang-tidy-review/post/clang_tidy_review
          review --token=${{ secrets.GITHUB_TOKEN }} --repo=${{ github.event.pull_request.head.repo.full_name }} --pr=${{ github.event.pull_request.number }} --clang_tidy_binary=clang-tidy --build_dir=${{ github.workspace }}/build --config_file=.clang-tidy --split_workflow=True
        env:
          USER: ${{ github.event.pull_request.user.login }}

      - name: Post review
        run: post --token=${{ secrets.GITHUB_TOKEN }} --repo=${{ github.event.pull_request.head.repo.full_name }} --lgtm-comment-body="" --num-comments-as-exitcode clang-tidy-review-output.json
