name: Format Check

on:
  push:
    branches:
      - "community"
  pull_request:
    branches:
      - "community"
      - "release/**"
  merge_group:
  workflow_dispatch:

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run clang-format style check for C/C++ code
        uses: d-griet/clang-format-lint-action@99a106be2f3f1a92d9783ea7c744fde62d8ce1fa
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          source: "./src"
          extensions: "c,cpp,h,hpp"
          clangFormatVersion: 19

      - name: Run Ruff format check for Python code
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check"
          src: "./scripts/ ./contrib ./tests ./src"

      - name: Run Ruff lint check for Python code
        uses: astral-sh/ruff-action@v3
        with:
          src: "./scripts/ ./contrib ./tests ./src"

      - name: Install dependencies with npm (only npm is supported by lint-action)
        working-directory: website
        run: npm i
      - name: Run website check
        uses: wearerequired/lint-action@v2
        with:
          eslint: true
          eslint_dir: website
          eslint_auto_fix: true
          prettier: true
          prettier_dir: website
          prettier_auto_fix: true
