name: Format Check

on:
  pull_request_target:
    paths:
      - "website/**"
  workflow_dispatch:

permissions:
  checks: write
  contents: write

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies with npm (only npm is supported by lint-action)
        working-directory: website
        run: npm i

      - name: Run website check
        uses: wearerequired/lint-action@v2
        with:
          auto_fix: true
          eslint: true
          eslint_dir: website
          eslint_auto_fix: true
          prettier: true
          prettier_dir: website
          prettier_auto_fix: true
