name: Format Check

on:
  push:
    branches:
      - 'community'
  pull_request:
    branches:
      - 'community'
      - 'release/**'
  merge_group:
  workflow_dispatch:

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run clang-format style check for C/C++ code
        uses: d-griet/clang-format-lint-action@99a106be2f3f1a92d9783ea7c744fde62d8ce1fa
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          source: './src'
          extensions: 'c,cpp,h,hpp'
          clangFormatVersion: 19
      - name: Run Black style check for Python code
        uses: psf/black@stable
        with:
          src: './scripts/ ./contrib ./tests ./src'
