name: Check Website

on:
  pull_request_target:
    paths:
      - "website/**"
  workflow_dispatch:

permissions:
  checks: write
  contents: write

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies with npm (only npm is supported by lint-action)
        working-directory: website
        run: npm i

      - name: Run website check
        uses: wearerequired/lint-action@v2
        with:
          auto_fix: true
          eslint: true
          eslint_dir: website
          eslint_auto_fix: true
          prettier: true
          prettier_dir: website
          prettier_auto_fix: true

  build-website:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: website
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      # Playwright is needed for rendering mermaid diagrams at build time
      # See: https://github.com/remcohaszing/rehype-mermaid?tab=readme-ov-file#installation
      - name: Install Playwright browsers
        run: bun playwright install --with-deps

      # This gets us the site base URL
      - name: Setup Pages
        id: setup_pages
        uses: actions/configure-pages@v5

      - name: Build website
        run: bun run build
        env:
          SITE_URL: ${{ steps.setup_pages.outputs.base_url }}
          SITE_BASE_PATH: ${{ steps.setup_pages.outputs.base_path }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: website-artifact
          path: website/dist
