# See https://prettier.io/docs/ci
name: autofix.ci
on:
  pull_request:
    paths:
      - "website/**"
  push:
    paths:
      - "website/**"
permissions: {}
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: website
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: |
          bun install
          bun run check:fix
      - uses: autofix-ci/action@v1
        with:
          commit-message: "Apply Prettier format"
