name: Pull Request Build

on:
  push:
    branches:
      - 'owlet-firmware-1.3'
  pull_request:
    branches:
      - 'owlet-firmware-1.3'
      - 'feature/**'
  merge_group:
  workflow_dispatch:

jobs:
  release-build:
    name: Build check - Release
    uses: ./.github/workflows/build.yml
    with:
      firmware-retention-days: 5
      build-type: 'Release'
  debug-build:
    name: Build check - Debug
    uses: ./.github/workflows/build.yml
    with:
      firmware-retention-days: 5
      build-type: 'Debug'
