name: Run tests

on:
  pull_request:
    branches:
      - "community"
      - "release/**"
      - "main"
  merge_group:
  workflow_dispatch:

jobs:
  test-build-x86:
    name: Run tests (x86)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install GCC multilib
        run: |
          sudo apt-get update
          sudo apt-get install gcc-14 gcc-14-multilib g++-14-multilib
          echo "CC=gcc-14" >> $GITHUB_ENV
          echo "CXX=g++-14" >> $GITHUB_ENV

      - name: Install CMake
        uses: lukka/get-cmake@latest

      - name: Configure
        run: cmake -B build -S tests -G Ninja

      - name: Run build
        run: cmake --build build

      - name: Run CTest
        run: ctest --test-dir build --output-on-failure --output-junit results/ctest_results.xml

      - name: Make results directory
        run: mkdir -p build/results

      - name: Run 32 bit CppUTest
        run: |
          cd build/results
          ../32bit_unit_tests/SmallPointerTests -ojunit
          ../32bit_unit_tests/MemoryManagerTests -ojunit
      - name: Run main CppUTest
        run: |
          cd build/results
          ../unit/UnitTests -ojunit

      - name: Upload Test Results
        uses: actions/upload-artifact@v7
        if: always()
        with:
          name: Test Results x86
          path: |
            build/results/**/*.xml
            build/spec/results/**/*.xml
            build/spec/results/*.xml

  test-build-qemu:
    name: Run tests for ARMv7 via QEMU
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install CMake
        uses: lukka/get-cmake@latest

      - name: Install cross-compilation toolchain and QEMU
        run: |
          sudo debconf-communicate <<< "set man-db/auto-update false"
          sudo dpkg-reconfigure man-db        
          sudo apt-get update
          sudo apt-get install -y gcc-14-arm-linux-gnueabihf g++-14-arm-linux-gnueabihf qemu-user binfmt-support qemu-user-static qemu-system-arm
          echo "CC=arm-linux-gnueabihf-gcc-14" >> $GITHUB_ENV
          echo "CXX=arm-linux-gnueabihf-g++-14" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=/usr/arm-linux-gnueabihf/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV

      - name: Symlink ld-linux
        run: sudo ln -s /usr/arm-linux-gnueabihf/lib/ld-linux-armhf.so.3 /lib/ld-linux-armhf.so.3

      - name: Configure
        run: cmake -B build -S tests/qemu -G Ninja

      - name: Run build
        run: cmake --build build

      - name: Run CTest
        run: ctest --output-on-failure --test-dir build

      - name: Upload Test Results
        uses: actions/upload-artifact@v7
        if: always()
        with:
          name: Test Results ARMv7
          path: build/spec/results/**/*.xml

  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        uses: actions/upload-artifact@v7
        with:
          name: Event File
          path: ${{ github.event_path }}
